---
layout: blog
title: Sum to Zero - um blog de Miguel Pinheiro Marques
path: home
translationKey: "home"
pagination:
  data: collections.posts_pt 
  size: 1          
  alias: pagedPosts
---

<section class="posts">
{% set currentPosts = collections["posts_" + lang] %}

{% for post in pagedPosts | reverse %}
        <article>
            <h2>
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p>
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p>
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}

<nav class="pagination" aria-label="Pagination">
  <div style="display: flex; justify-content: space-between; margin-top: 2rem;">
    
    {# 'href.previous' is the URL for the previous page (e.g. going from page 2 back to 1) #}
    <div class="prev">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">{{ 'newer_posts' | t }}</a>
      {% endif %}
    </div>

    {# 'href.next' is the URL for the next page #}
    <div class="next">
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">{{ 'older_posts' | t }}</a>
      {% endif %}
    </div>
    
  </div>
</nav>  
  
</section>
