---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
    - posts_en
    - posts_pt
permalink: /pt/tags/{{ tag | slugify }}/
layout: blog
eleventyComputed:
  title: "Artigos com a tag '{{ tag }}'"
---

<section>
  
  <h1>Artigos com a tag #{{ tag }}</h1>
  
  <div class="post-list">
    {% set taglist = collections[ tag ] %}
  
    {% for post in taglist %}
      
      {% if post.data.lang == "pt" %}
        <article>
          <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
          <time>{{ post.date | readableDate(lang) }}</time>
        </article>
      {% endif %}
  
    {% endfor %}
  </div>
  
  <p><a href="/pt/">← Voltar aos artigos</a></p>

</section>
