---
layout: default
---

<section class="post">
    <div>
        <h1>{{title}}</h1>
        <p>
<p class="post-date">
  {{ page.date | readableDate(lang) }}
</p>
        </p>

    </div>
    <article>
        {{ content | safe }}
    </article>

{% set currentCollection = collections["posts_" + lang] %}
{% set nextPost = null %}
{% set prevPost = null %}
{% for post in currentCollection %}
  {% if post.url == page.url %}    
    {% if loop.index0 > 0 %}
      {% set prevPost = currentCollection[loop.index0 - 1] %}
    {% endif %}
    {% if not loop.last %}
      {% set nextPost = currentCollection[loop.index0 + 1] %}
    {% endif %}
  {% endif %}
{% endfor %}

<hr />
<nav class="post-navigation" aria-label="Post Navigation">
  
  <div class="nav-prev">
    {% if prevPost %}
      <a href="{{ prevPost.url }}">
        <span class="nav-label">{{ 'previous_post' | t }}</span><br>
        <span class="nav-title">{{ prevPost.data.title }}</span>
      </a>
    {% endif %}
  </div>

  <div class="nav-next">
    {% if nextPost %}
      <a href="{{ nextPost.url }}">
        <span class="nav-label">{{ 'next_post' | t }}</span><br>
        <span class="nav-title">{{ nextPost.data.title }}</span>
      </a>
    {% endif %}
  </div>

</nav>
</section>
