---
layout: default
---

<section class="post">
    <div>
        <h1>{{title}}</h1>
        <div class="h4">{{ page.date | readableDate(lang) }}</div>

    </div>
    <article>
        {{ content | safe }}
    </article>

{% set currentCollection = collections["posts_" + lang] %}
{% set nextPost = null %}
{% set prevPost = null %}
{% for post in currentCollection %}
  {% if post.url == page.url %}    
    {% if loop.index0 > 0 %}
      {% set prevPost = currentCollection[loop.index0 - 1] %}
    {% endif %}
    {% if not loop.last %}
      {% set nextPost = currentCollection[loop.index0 + 1] %}
    {% endif %}
  {% endif %}
{% endfor %}

<div class="post-tags">
  <strong>Tags:</strong>  
  {% for tag in tags %}    
    {% if tag != "post" %}
      <a href="/{{ lang }}/tags/{{ tag | slugify }}/" class="tag-link">#{{ tag }}</a>
    {% endif %}
  {% endfor %}
</div>
    
<hr />
    
<nav class="post-navigation" aria-label="Post Navigation">
  
  <div class="nav-prev">
    {% if prevPost %}
      <a href="{{ prevPost.url }}">
        <span class="nav-label">{{ 'previous_post' | t }}</span><br>
        <span class="nav-title">{{ prevPost.data.title }}</span>
      </a>
    {% endif %}
  </div>

  <div class="nav-next">
    {% if nextPost %}
      <a href="{{ nextPost.url }}">
        <span class="nav-label">{{ 'next_post' | t }}</span><br>
        <span class="nav-title">{{ nextPost.data.title }}</span>
      </a>
    {% endif %}
  </div>

</nav>
</section>
