:root {
	 --font-mono: "IBM Plex Mono", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}
html {
	scroll-behavior: smooth;
	color-scheme: light dark;
}
html:has(#mode-switcher [value="light"]:checked) { color-scheme: light }
html:has(#mode-switcher [value="dark"]:checked){ color-scheme: dark; }

body {
	 background-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
	 color: color-mix(in srgb, CanvasText, Canvas 2.5%);
}

::-moz-selection {
	color: Canvas;
	background: #4e77f6;
}
::selection {
	color: Canvas;
	background: #4e77f6;
}

body{
	font-family: font-family: var(--font-mono);
	font-size: clamp(0.95rem, 1.095rem + -0.227vw, 1.05rem);
	letter-spacing: 0;
}

@supports (font: -apple-system-body){
	body{letter-spacing: -0.011em;}
}

.logo svg{
	width:50px;
	height:auto;
}
