:root {
	 --font-mono: "IBM Plex Mono", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}
html {
	scroll-behavior: smooth;
	color-scheme: light dark;
}
html:has(#mode-switcher [value="light"]:checked) { color-scheme: light }
html:has(#mode-switcher [value="dark"]:checked){ color-scheme: dark; }

body {
	 background-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
	 color: color-mix(in srgb, CanvasText, Canvas 2.5%);
}
::-moz-selection {
	color: Canvas;
	background: #4e77f6;
}
::selection {
	color: Canvas;
	background: #4e77f6;
}
section,header,footer,.hero,nav{
	margin: 0 1rem;
	@media screen and (min-width: 48em) {
		 margin: 0 20%;
	}
}
body,p,a,h1,h2,h3,h4,form,button,input,textarea,input::placeholder,textarea::placeholder,#menu{
	font-family: var(--font-mono);
	font-size: clamp(0.95rem, 1.095rem + -0.227vw, 1.05rem);
	letter-spacing: 0;
	color: color-mix(in srgb, CanvasText, Canvas 2.5%);
}
@supports (font: -apple-system-body){
	body,p,a,h1,h2,h3,h4,form,button,input,textarea,input::placeholder,textarea::placeholder{letter-spacing: -0.011em;}
}
.column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	margin:0;
	padding:0;
}
a, a:visited{
	color:#f9f9f9;
	text-decoration:none;
	border-radius:0.5rem;
	padding:0.2rem 0.5rem;
	background-color:#4e77f6;
	transition: 0.2s;
	letter-spacing: -0.011em;
	word-spacing:-0.011em;
	font-weight:400;
	font-size:1rem;
}
a:hover{
	background-color:#324ea6
}
section svg{
	color:#f9f9f9;
	width:14px;
	height:14px;
	line-height:14px;
	vertical-align: middle;
	margin-top:-4px;
	margin-left:1rem;
}
section svg path{fill:#f9f9f9;}

nav {}
nav ul{list-style-type: none;}
nav ul li{display:inline;margin-right:1rem;}

p {
	 line-height: calc(1ex / 0.32);
	 margin: calc(1ex / 0.32) 0;
	 color: color-mix(in srgb, CanvasText, Canvas 35%);
	 letter-spacing: -0.011em;
	 text-rendering: optimizeLegibility;
	 -webkit-font-smoothing: antialiased;
}
h1, h2, h3, .h4{
	 font-family: var(--font-mono);
	 font-weight: 600;
	 text-rendering: geometricPrecision;
	 -moz-font-smoothing: antialiased;
	 margin:0;
	 padding:0;
}
h1 {
	 font-size: 2rem;
	 letter-spacing: -0.15rem;
}
h2 {
	 font-size: 1.5rem;
	 text-transform:uppercase;
}
h3 {
	 font-size: 1.2rem;
	 text-transform:uppercase;
}
.h4 {
	 font-size: 1rem;
	 font-style:italic;
	 font-weight:300;
	 text-transform:lowercase;
	 color:color-mix(in srgb, CanvasText, Canvas 50%);
}
#about,#credits,#acoustics,#book,#contact{
	scroll-margin-top: 2rem;
}
form{
	margin-right:20px;
}
input{
	width:100%;
	height:30px;
	margin:4px 0 10px 0;
	background: light-dark(color-mix(in srgb, Canvas, CanvasText 4%), color-mix(in srgb, Canvas, CanvasText 10%));
	border:0;
	outline:0;
	padding-left:10px;
}
textarea{
	width:100%;
	min-height:200px;
	margin:0;
	background: light-dark(color-mix(in srgb, Canvas, CanvasText 4%), color-mix(in srgb, Canvas, CanvasText 10%));
	border:0;
	outline:0;
	resize: none;
	padding:10px 0 0 10px
}
input::placeholder,textarea::placeholder{
	color: color-mix(in srgb, CanvasText, Canvas 65%);
}
label {
	color: color-mix(in srgb, CanvasText, Canvas 35%);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
button{
	background-color:#4e77f6;
	-webkit-appearance: none;
	border:0;
	outline:0;
	cursor:pointer;
	padding:0.2rem 0.7rem;
	border-radius:0.5rem;
	transition:.2s;
	margin-top:10px;
	color:#f9f9f9;
	text-transform:lowercase;
	letter-spacing: -0.011em;
	word-spacing:-0.011em;
	font-weight:300;
	font-style:italic;
	font-size:1rem;
}
button:hover{
	background-color:#324ea6;
}
button svg{
	width:19px;
	height:19px;
	line-height:19px;
	vertical-align: middle;
	margin:0;
	padding:0;
	margin-left:0.8rem;
	margin-top:-1px;
}
button svg path{fill:#f9f9f9}
header{
	margin-top:2rem;
}
.heading h1{
	line-height:1.8rem;
	margin:0;
	font-weight:600
}
.heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	margin:0;
	padding:0;
}
.heading svg{
	width:50px;
	height:auto;
}
.heading .h4 {
	margin-top:0.35rem;
}
.hero img{
	width:100%;
	height:auto;
	object-fit: cover;
	margin:0;
	padding:0
}
.credits span{color:light-dark(color-mix(in srgb, Canvas, CanvasText 10%), color-mix(in srgb, Canvas, CanvasText 20%))}
.about h2{
	margin-top:4rem;
}
.about span{font-style:italic;}
.about p a, .about p a:visited{
	color:#4e77f6;
	text-decoration:none;
	border-radius:0;
	padding:0;
	background-color: color-mix(in srgb, Canvas, CanvasText 2.5%);
	transition: 0.2s;
	letter-spacing: -0.011em;
	word-spacing:-0.011em;
	font-weight:600;
	font-size:1rem;
	font-style:italic;
	white-space: nowrap;
}
.about p a:hover{text-decoration:underline}


.contact .h4{
	margin-bottom:2rem;
}
hr{
	margin:40px 0;
	box-sizing: border-box;
	border: 0 none transparent;
	border-top: 1px solid light-dark(color-mix(in srgb, Canvas, CanvasText 10%), color-mix(in srgb, Canvas, CanvasText 20%));
}
.thankyou{
	color:color-mix(in srgb, Canvas, CanvasText 2.5%);
	background-color:#4e77f6;
	margin-top:2rem;
	padding:0.5rem;
	border-radius:0.5rem;
	display:none;
}
#thankyou:target{
	 display:block;
}
footer p{
	color: color-mix(in srgb, CanvasText, Canvas 50%);
	font-size:0.8rem;
	word-spacing:100vw;
	font-style:italic;
}
footer svg{
	height:50px;
	width:auto;
}
footer svg path{
	fill: color-mix(in srgb, CanvasText, Canvas 40%)
}
