---
# URL where the feed will live
permalink: /en/feed.xml
# Don't add the feed itself to the blog list
eleventyExcludeFromCollections: true
metadata:
  title: "Your Name - Audio Portfolio"
  subtitle: "Thoughts on mastering, studio design, and education."
  language: "en"
  url: "https://sumtozero.net/en/"
  author:
    name: "Miguel Pinheiro Marques"
    email: "me@miguelpinheiromarques.com"
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <description>{{ metadata.subtitle }}</description>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ site.url }}{{ permalink }}" rel="self" type="application/rss+xml" />
    <language>{{ metadata.language }}</language>
    
    {# Loop through English posts, newest first #}
    {%- for post in collections.posts_en | reverse %}
    {% set absolutePostUrl %}{{ site.url }}{{ post.url }}{% endset %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>
