---
permalink: /en/feed.xml
eleventyExcludeFromCollections: true
layout: null
metadata:
  title: "sumtozero.net, a blog by Miguel Pinheiro Marques"
  subtitle: "A blog about audio, mastering, studio design & acoustics"
  language: "en"
  url: "https://sumtozero.net/en/"
  author:
    name: "Miguel Pinheiro Marques"
    email: "miguel@knurlmastering.com"
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" 
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:media="http://search.yahoo.com/mrss/">
  <channel>
    <title>{{ metadata.title }}</title>
    <description>{{ metadata.subtitle }}</description>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ site.url }}{{ permalink }}" rel="self" type="application/rss+xml" />
    <language>{{ metadata.language }}</language>
    
    {# Loop through English posts, newest first #}
    {%- for post in collections.posts_en | reverse %}
    {% set absolutePostUrl %}{{ site.url }}{{ post.url }}{% endset %}
    <item>
      <title>{{ post.data.title | escape }}</title> 
      <link>{{ absolutePostUrl }}</link>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>

      {# Text-only summary for simpler readers #}
      <description>{{ post.data.description | escape }}</description>

      {# Full HTML content including images #}
      <content:encoded>
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}
      </content:encoded>

      {# Featured Image Support #}
      {% if post.data.featuredImage %}
      <media:content url="{{ site.url }}{{ post.data.featuredImage }}" medium="image" />
      <enclosure url="{{ site.url }}{{ post.data.featuredImage }}" length="0" type="image/jpeg" />
      {% endif %}
    </item>
    {%- endfor %}
  </channel>
</rss>