---
layout: blog
title: Sum to Zero - a blog by Miguel Pinheiro Marques, mastering engineer
path: home
translationKey: "home"
pagination:
  data: collections.posts_en 
  size: 1          
  alias: pagedPosts
---

<section class="posts">

{% set currentPosts = collections["posts_" + lang] %}

{% for post in currentPosts | reverse %}

        <article>
            <h2>
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p>
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p>
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>
