<footer>
	<div class="lang-switch">
		<ul>
		  {% if lang == "en" %}
		    {% set translatedUrl = translationKey | getLocalizedUrl("pt", collections.all) %}
		    <li>
		      <a href="{{ translatedUrl if translatedUrl else '/pt/' }}">Português</a>
		    </li>
		  {% else %}
		    {% set translatedUrl = translationKey | getLocalizedUrl("pt", collections.all) %}
		    <li>
		      <a href="{{ translatedUrl if translatedUrl else '/en/' }}">English</a>
		    </li>
		  {% endif %}
		</ul>
	</div>
	<small>&copy; 2010-{{year}} {{settings.author}}. All rights reserved.</small>
</footer>
