<footer>
	<div class="lang-switch">
		{% if lang == "en" %}
		  {% set targetLang = "pt" %}
		  {% set label = "Português" %}
		{% else %}
		  {% set targetLang = "en" %}
		  {% set label = "English" %}
		{% endif %}
		
		{% set translatedUrl = translationKey | getLocalizedUrl(targetLang, collections.all) %}
		
		<a href="{{ translatedUrl if translatedUrl else '/' + targetLang + '/' }}" class="lang-toggle">
		  {{ label }}
		</a>
	</div>
	<small>&copy; 2010-{{year}} {{settings.author}}. All rights reserved.</small>
</footer>
